<div class="col-xs-10 centered">
  <div class="thumbnail">
    <div class="media" >  
      <div class="media-left" >
        <img alt="{{$ctrl.serieObj.Title}}" src="{{$ctrl.serieObj.Poster}}"></img>
      </div>
      <div class="media-body">
        <h2 class="media-heading">{{$ctrl.serieObj.Title}}</h2>
          <br>
          <p><b>Lançamento: </b>{{$ctrl.serieObj.Released}}&emsp;&emsp;<b>Período: </b>{{$ctrl.serieObj.Year}}&emsp;&emsp;<b>Nº Temporadas: </b>{{$ctrl.serieObj.totalSeasons}}</p>
          <p><b>Sinopse: </b>{{$ctrl.serieObj.Plot}}</p>
          <p><b>Classificação Etária</b> :{{$ctrl.serieObj.Rated}}</p>
          <p><b>Gênero: </b>{{$ctrl.serieObj.Genre}}</p>
          <p><b>Escritor: </b>{{$ctrl.serieObj.Writer}}</p>
          <p><b>Média do IMDB: </b>{{$ctrl.serieObj.imdbRating}}</p>
      </div>
      <div class="col-xs-5 centered">
      {{$ctrl.serieObj.nota}}
          <p><b>Minha avaliação: </b><input type="text" name="nota" ng-model="$ctrl.serieObj.nota"></p>
          <p><b>Último epsódio assistido: </b><input type="text" name="episodio" ng-model="$ctrl.serieObj.episodio"></p>
          <p><b>Temporada: </b><input type="number" name="temporada" ng-model="$ctrl.serieObj.temporada"></p>
      </div>
    </div>
  </div>
</div>

<!--
Title "Game of Thrones"
Year  "2011–"
Rated "TV-MA"
Released  "17 Apr 2011"
Runtime "56 min"
Genre "Adventure, Drama, Fantasy"
Director  "N/A"
Writer  "David Benioff, D.B. Weiss"
Actors  "Peter Dinklage, Lena Headey, Emilia Clarke, Kit Harington"
Plot  "Nine noble families fight for control over the mythical lands of Westeros, while a forgotten race returns after being dormant for thousands of years."
Language  "English"
Country "USA, UK"
Awards  "Won 1 Golden Globe. Another 244 wins & 413 nominations."
Poster  "https://images-na.ssl-images-amazon.com/images/M/MV5BMjE3NTQ1NDg1Ml5BMl5BanBnXkFtZTgwNzY2NDA0MjI@._V1_SX300.jpg"
Ratings 
0 
Source  "Internet Movie Database"
Value "9.5/10"
Metascore "N/A"
imdbRating  "9.5"
imdbVotes "1,160,013"
imdbID  "tt0944947"
Type  "serieObjs"
totalSeasons  "8"
Response  "True"
-->